# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  email_provider_username:
  email_provider_apikey:
  domain_name: example.com
  mailchimp_api_key: 09750036a77aaf9dd995d4e0fec3fc2c-us13
  mailchimp_list_id: 9910d8b363
  secret_key_base: 11dad50651d38b4617dab5e4cd9c9b5ac45cd228e051f6bcadc421266bdc724520aed79e203f70c071cfee6a19ab685d46ab5e6d6991b77f89036fa2a184dfea

test:
  secret_key_base: c3b481882c917efd29f0e54cb52a0da14dcb2475909c634f1993b6dcf7010ebc2e254b877a5a42f649c6e10bef35da3dd3dbc20ede62e10fde22e6d33092b5e3

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  email_provider_username:
  email_provider_apikey:
  domain_name: project2030.com
  mailchimp_api_key: xxyy
  mailchimp_list_id: xxyy
  secret_key_base: xxyyqq
  db_password: xxyy
  db_username: xxyy
