.mg-top-20 {
  margin-top: 20px;
}

.mg-top-40 {
  margin-top: 40px;
}

.mg-bt-20 {
  margin-bottom: 20px;
}

.mg-bt-40 {
  margin-bottom: 40px;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.help-block {
  display: none;
}
